<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link href="../stylesheets/styles.css" rel="stylesheet" />
    <title>Little TravelBook Login</title>
  </head>

  <body>
	  {{{ body }}}
    
  <script async type="text/javascript" src="../js/bulma.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
  </body>
</html>
