<div class="container">
  <div class="button navbar-burger burger" data-target="navbar-menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
</div>
<div class="navbar-menu">
  <div class="navbar-end">
    <a class="navbar-item has-text-black" id="nav-home" href="./members">
      home
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./travelers">
      Travelers
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./blog">
      Reviews
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./review">
      Write New Review
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./logout">
      Logout
    </a>

  </div>
</div>
<div class="container has-text-centered">
  <div class="columns is-centered">
    <div class="column blog-container is-half">
      <div class="card">

      </div>
    </div>
  </div>
  <a class="button is-info mb-3" id="" href="./travelers">
    Travelers
  </a>
  <a class="button is-info mb-3" id="" href="./blog">
    Reviews
  </a>
</div>
<script async type="text/javascript" src="/dist/bulma.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async type="text/javascript" src="/dist/blog.js"></script>