<div class="container">
  <div class="button navbar-burger burger"
       data-target="navbar-menu"
       aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
</div>
<div class="navbar-menu">
  <div class="navbar-end">
    <a class="navbar-item has-text-black"
       id="nav-home"
       href="./members">
      Home
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./cms">
      My Travel Journal
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./travelers">
      Travelers' Reviews
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./cms">
      Write Travel Review
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./logout">
      Logout
    </a>

  </div>
</div>
<div class="container">
  <div class="columns is-centered">
    <div class="column blog-container is-half"></div>
  </div>
</div>

<script async
        type="text/javascript"
        src="/js/bulma.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async
        type="text/javascript"
        src="/js/blog.js"></script>