<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h2 class="title has-text-black login-welcome">Welcome Back!</h2>
        <hr class="login-hr">
        <h2 class="subtitle has-text-black"
            id="small-login">Please login to your
        </h2>
        <h2 class="title has-text-black"
            id="login-little">little
        </h2>
        <h2 class="has-text-black login-welcome">TravelBook
        </h2>
        <form class="login">
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-large"
                     id="email-input"
                     type="email"
                     placeholder="Your Email"
                     autofocus="">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-large"
                     id="password-input"
                     type="password"
                     placeholder="Your Password" />
            </div>
          </div>
          <button class="button is-rounded is-success is-info is-medium is-half">
            Login
            <i class="fa fa-sign-in"
               aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <p class="has-text-grey">
        <a href="/signup">
          Sign Up
        </a>
        ·
        <!-- <a href="../">Forgot Password</a> &nbsp;·&nbsp; -->
        <a href="https://google.com"
           target="_blank">
          Need Help?
        </a>
      </p>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/dist/login.js"></script>