   <section class="hero is-fullheight has-bg-img">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                  <h3 class="title has-text-black">Welcome Back!</h3>
                  <hr class="login-hr">
                  <p class="subtitle has-text-black">Please login to your
                    <br>
                    Little TravelBook
                  </p>
                      <form class="login">
                          <div class="field">
                              <div class="control">
                                  <input class="input is-rounded is-large" id="email-input" type="email" placeholder="Your Email" autofocus="">
                              </div>
                          </div>

                          <div class="field">
                              <div class="control">
                                  <input class="input is-rounded is-large" id="password-input" type="password" placeholder="Your Password">
                              </div>
                          </div>
                          <button class="button is-rounded is-success is-info is-medium is-half">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                      </form>
                  </div>
                  <p class="has-text-grey">
                      <a href="/signup">Sign Up</a> &nbsp;·&nbsp;
                      <!-- <a href="../">Forgot Password</a> &nbsp;·&nbsp; -->
                      <a href="https://google.com"target="_blank">Need Help?</a>
                  </p>
              </div>
          </div>
      </div>
  </section>