<div class="container">
  <div class="button navbar-burger burger"
       data-target="navbar-menu"
       aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
</div>
<div class="navbar-menu">
  <div class="navbar-end">
    <a class="navbar-item has-text-black"
       id="nav-home"
       href="/">
      Home
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./cms">
      My Travel Journal
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./travelers">
      Travelers' Reviews
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./cms">
      Write Travel Review
    </a>
    <a class="navbar-item has-text-black"
       id="nav-ubuntu"
       href="./logout">
      Logout
    </a>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-one-quarter has-text-black welcome-book">
      <h2>
        So glad you're back!
        <span class="member-name"></span>
      </h2>
    </div>
  </div>
</div>

<section class="section cards">
  <div class="container">
    <div class="columns">
    <div class="column is-quarter has-text-black login-welcome">
      <h2>
        Write a review
      </h2>
    </div>

    <div class="column is-quarter has-text-black login-welcome">
      <h2>
        Your past reviews
      </h2>
    </div>
  </div>
  </div>
</section>

{{!-- <div class="row pull-right"> --}}

<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter has-text-black login-welcome">
      Your photos!
    </div>
  </div>
</div>
<script async
        type="text/javascript"
        src="/js/bulma.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async
        type="text/javascript"
        src="/js/members.js"></script>