<div class="container">
  <div class="button navbar-burger burger" data-target="navbar-menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
</div>
<div class="navbar-menu">
  <div class="navbar-end">
    <a class="navbar-item has-text-black" id="nav-home" href="./members">
      home
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./travelers">
      Travelers
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./blog">
      Reviews
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./review">
      Write New Review
    </a>
    <a class="navbar-item has-text-black nav-ubuntu" href="./logout">
      Logout
    </a>

  </div>
</div>
<div class="columns">
  <div class="column is-offset-3 is-one-third">
    <form id="review" action="/api/upload" enctype="multipart/form-data" method="post">
      <div class="form-class">
        <div class="field">
          <div class="control">
            <label class="title">
              my travels:
            </label>
          </div>
          <br>
          <div class="hidden">
            <label class="hidden">
              Traveler ID
            </label>
            <input  readonly class="input is-rounded" name="travelerId" id="travlerId" placeholder="Traveler Name" type="text" />
          </div>
          <div class="control">
            <label class="traveler">
              Written by:
            </label>
            <input readonly class="input is-rounded" name="travelerName" id="travelerName" placeholder="Country" type="text" />
          </div>
          <div class="control">
            <label class="country">
              Post Title:
            </label>
            <input class="input is-rounded" name="postTitle" id="postTitle" placeholder="Fun Title for your Post" type="text" />
          </div>
          <div class="control">
            <label class="country">
              Country:
            </label>
            <input class="input is-rounded" name="country" id="title" placeholder="Country" type="text" />
          </div>
          <div class="control">
            <label class="city">
              City:
            </label>
            <input class="input is-rounded" name="city" id="city" placeholder="City" type="text" />
          </div>
          <div class="control">
            <label class="lodging">
              Lodging:
            </label>
            <input class="input is-rounded" name="lodging" id="lodging" placeholder="Lodging" type="text" />
          </div>
          <div class="control">
            <label class="ratings">
              Ratings:
            </label>
            <input class="input is-rounded" name="ratings" id="ratings" placeholder="Overall Trip Rating 1 - 10"
              type="text" />
          </div>
          <br />
          <div class="control">
            <label class="title">
              activities:
            </label>
            <input class="input is-rounded" name="activities" id="title" placeholder="Favorite Activities on Trip"
              type="text" />
          </div>
          <div class="control">
            <label class="body">
              Journal Entry:
            </label>
            <textarea class="textarea is-rounded is-half" name="body" placeholder="Journal" rows="10"
              id="body"></textarea>
          </div>
          <br />
          {{!-- <form action="/api/upload" enctype="multipart/form-data" method="post"> --}}
          <div class="field mt-2 p-2">
            <div id="fileUpload" class="file has-name">
              <label class="file-label">File:
                <input class="file-input p-2" type="file" name="filetoupload" multiple="multiple" />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose an Image…
                  </span>
                </span>
                <span class="file-name">
                  No file uploaded
                </span>

              </label>
            </div>

            <div class="control m-1 p-1">
              <label class="title">
                Add Image Title:
              </label>
              <input class="input" id="imageTitle" placeholder="Add Image Title" type="text" name="imgTitle" />
            </div>
          </div>
          <input class="button is-success is-rounded" type="submit" value="Upload" />
        </div>
    </form>
    {{!-- <a href="/login">
      <button class="button is-rounded is-success is-info is-medium is-half">
        Save to Journal
      </button>
    </a>

    <img src="" alt="" srcset="">
    <a href="/blog">
      <button class="button is-rounded is-success is-info is-medium is-half">
        Post to Blog
      </button>
    </a> --}}
  </div>
  <script async type="text/javascript" src="/dist/bulma.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="dist/review.js"></script>
