<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h2 class="subtitle has-text-black" id="small-login">
          Sign up to open your
        </h2>
        <h2 class="title has-text-black" id="login-little">
          little
        </h2>
        <h2 class="title has-text-black login-welcome">
          TravelBook
        </h2>
        <form class="signup">
          <div class="field">
            <div class="control">
              <input
                class="input is-rounded is-medium"
                type="email"
                id="email-input"
                placeholder="Your Email"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input is-rounded is-medium"
                type="password"
                id="password-input"
                placeholder="Create Password"
              />
            </div>
          </div>
          <button
            class="button is-rounded is-success is-half is-medium"
            type="submit"
          >
            Sign Up
          </button>
          <br />
          <p>
            <a href="/login">
              Already a member? Login in here!
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>