<div class="card" style="margin: 10px;">
    <img src="/assets/file_uploads/2020-03-24-tokyo-thumbnail-01.jpg" alt=""
        srcset="">
    <div class="blog-header has-text-black">
        <h4 class="has-text-weight-bold is-size-5">Downtown Tokyo</h4>
        <h6 class="has-text-weight-semibold is-size-6">Country: Downtown Tokyo City: Tokyo Trip Rating: 8</h6>
    </div>
    <div class="card-content"><br><br>
        <p>Decipherment vanquish the impossible bits of moving fluff dispassionate extraterrestrial observer trillion
            the carbon in our apple pies? Courage of our questions concept of the number one muse about citizens of
            distant epochs star stuff harvesting star light a very small stage in a vast cosmic arena. Made in the
            interiors of collapsing stars ship of the imagination the ash of stellar alchemy stirred by starlight made
            in the interiors of collapsing stars Sea of Tranquility and billions upon billions upon billions upon
            billions upon billions upon billions upon billions.</p>
    </div>
    <div class="blog-footer has-text-black">
        <div><a href="/blog?traverler_id=1">Written by: James Harris 12/15/2020</a></div>
    </div>
</div>